@use "../abstracts/" as *;

.accordion {
  &__item {
    overflow: hidden;

    &:where(:not(:first-child)) {
      border-top: 1px solid $color-primary-100;
      padding-block: $size-6;
    }

    &:first-child {
      padding-block: $size-6;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:is(:hover, :focus) {
        h2 {
          color: $color-text-interactive-hover;
        }
      }
    }

    &__content {
      display: none;
      padding-top: $size-6;
      line-height: $body-line-height;

      &[aria-hidden="false"] {
        display: block;
      }
    }
  }
}
