@use "../abstracts/" as *;

.accordion {
  &__item {
    overflow: hidden;

    &:where(:not(:first-child)) {
      border-top: 1px solid $color-primary-100;
      padding-block: $size-6;
    }

    &:first-child {
      padding-block: $size-6;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:is(:hover) {
        h2 {
          color: $color-text-interactive-hover;
        }
      }
      &:is(:focus-visible, [data-focused="false"]) {
        outline: -webkit-focus-ring-color auto 0;
      }
      &:is(:focus, [data-focused="true"]) {
        h2 {
          color: $color-text-interactive-hover;
        }

        outline: -webkit-focus-ring-color auto 1px;
      }
    }

    &__content {
      display: none;
      padding-top: $size-6;
      line-height: $body-line-height;

      &[data-expanded="true"] {
        display: block;
      }
    }
  }
}
