@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

// Contextual
$color-text-default: $color-primary-400;
$color-background-default: $color-primary-100;
$color-text-interactive-default: $color-primary-800;
$color-text-interactive-hover: $color-primary-300;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: clamp($size-2, -0.333rem + 3.556vw, $size-4);

$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$heading-font-family: $font-family-base;
$heading-color-default: $color-primary-800;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1;
$heading-text-transform: none;

$heading-1-font-size: $font-size-900;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-500;
$heading-2-color: $heading-color-default;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-min-margin-inline: $size-6;
$container-max-width: 37.5rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

// cards
$card-flow-spacing: $size-2;
$card-padding: clamp($size-6, -0.167rem + 7.111vw, $size-8);
$card-shadow: $box-shadow-1;
$card-border-radius: $border-radius-1;
$card-background-default: $color-neutral-000;
$card-color-default: $body-text-color;
$card-font-family: $body-font-family;
$card-line-height: 1;
$card-heading-color-default: $heading-color-default;
$card-heading-font-size: $font-size-900;
